<div class="list-group">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>tinyAPP</th>
        <th>Target</th>
        <th class="text-center">Unique Clicks</th>
        <th class="text-center">Total Clicks</th>
        <th>Options</th>
      </tr>
      <%for(key in urls){%>
      <!-- Loops over matching URLS -->
      <tr>
        <td><a href="/u/<%=key%>"> <%=key%> </a></td>
        <td><a href="<%=urls[key]['url']%>"><%=urls[key]['url']%></a></td>
        <td class="text-center">
          <p><%= urls[key]['uniqueClicks'].length%></p>
        </td>
        <td class="text-center">
          <p><%=urls[key]['clicks']%></p>
        </td>
        <td>
          <button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#delete<%=key%>"></button>
          <div class="modal fade" id="delete<%=key%>" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteLabel">Remove URL</h5>
                </div>
                <div class="modal-body text-center">
                  <h4>Delete URL?</h4>
                  <p><%=urls[key]['url']%></p>
                  <p>This action cannot be undone.</p>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/urls/<%=key%>/delete?_method=DELETE" method="POST" >
                      <button type="submit" class="btn btn-danger" value="Submit">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary fa fa-edit" data-toggle="modal" data-target="#update<%=key%>"></button>
          <div class="modal fade" id="update<%=key%>" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body text-center">
                  <form action="/urls/<%=key%>/update?_method=PUT" method="POST">
                    <label for="shortURL"></label>
                    <input id="shortURL" type="hidden" name="shortURL" placeholder="shortURL" value="<%=key%>">
                    <label for="longURL"></label>
                    <input id="longURL" type="url" name="longURL" placeholder="<%=urls[key]['url']%>">
                    <button type="submit" class="btn btn-primary" value="Submit">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <%};%>
    <tbody>
  </table>
</div>
